body {
    background-color: rgb(187, 187, 187);
}

.contentMain {
    background-color: white;
    height: 500px;
    width: 50vw;
    border: 10px dotted black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentMainItem1 {
    background-color: yellow;
    height: 50px;
    width: 30%;
}

.contentMainItem2 {
    background-color: rgb(102, 63, 13);
    height: 100px;
    width: 30%;
}

.contentMainItem3 {
    background-color: rgb(36, 189, 22);
    color: white;
    font-size: 30px;
    padding: 50px;
    margin-left: 50px;
    margin-top: 50px;
}